{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.previous_page_number }}"
          {% if htmx_target %}
            hx-get="{{ partial_url|default:'' }}?page={{ page_obj.previous_page_number }}"
            hx-target="{{ htmx_target }}"
            hx-swap="innerHTML"
          {% endif %}
        >
          Previous
        </a>
      </li>
    {% endif %}
    {% for num in paginator.page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link"
           href="?page={{ num }}"
           {% if htmx_target %}
             hx-get="{{ partial_url|default:'' }}?page={{ num }}"
             hx-target="{{ htmx_target }}"
             hx-swap="innerHTML"
           {% endif %}
        >
          {{ num }}
        </a>
      </li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_obj.next_page_number }}"
           {% if htmx_target %}
             hx-get="{{ partial_url|default:'' }}?page={{ page_obj.next_page_number }}"
             hx-target="{{ htmx_target }}"
             hx-swap="innerHTML"
           {% endif %}
        >
          Next
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
